.showNavBar {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.brand__navbar-help {
  background-color: #f5f5f5;
}
.brand__navbar-help .brand__img a {
  display: inline-block;
}
.brand__navbar-help .brand__img a svg:hover {
  opacity: 0.7;
}
.brand__navbar-help .brand__navbar {
  display: inline-block;
}
.brand__navbar-help .brand__navbar ul {
  margin: 0;
}
.brand__navbar-help .brand__navbar ul .line {
  height: 20px;
}
.brand__navbar-help .brand__navbar ul li {
  display: block;
}
.brand__navbar-help .brand__navbar ul li a {
  display: inline-block;
  width: 100%;
  font-size: 0.8rem;
}

.logo__navbar--feature {
  height: 78px;
}
.logo__navbar--feature .navbar__logo a svg:hover {
  opacity: 0.7;
}
.logo__navbar--feature .navbar__feature {
  height: 100%;
}
.logo__navbar--feature .navbar__feature .navbar__feature--content {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
}
.logo__navbar--feature .navbar__feature .navbar__feature--content li {
  position: relative;
  line-height: 76px;
}
.logo__navbar--feature .navbar__feature .navbar__feature--content li a {
  font-size: 1.1rem;
}
.logo__navbar--feature .navbar__feature .navbar__feature--content li:hover {
  border-bottom: 2px solid #111;
}
.logo__navbar--feature .navbar__feature .navbar__feature--content li .modal__feature {
  position: absolute;
  top: 100%;
  left: -209%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  width: 100vw;
  height: 600px;
  background-color: #ffffff;
}
.logo__navbar--feature .navbar__feature ul {
  margin: 0;
}
.logo__navbar--feature .navbar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo__navbar--feature .navbar__search .search__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
}
.logo__navbar--feature .navbar__search .search__group .search__icon {
  padding: 0.3rem 0.4rem;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.logo__navbar--feature .navbar__search .search__group .search__icon:hover {
  background-color: #dadada;
  cursor: pointer;
}
.logo__navbar--feature .navbar__search .search__group .search__input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 50px;
}
.logo__navbar--feature .navbar__search .search__group .search__input::placeholder {
  font-size: 1.2rem;
}
.logo__navbar--feature .navbar__search .feature__icon:not(:last-child) {
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.logo__navbar--feature .navbar__search .feature__icon:not(:last-child):hover {
  background-color: #dadada;
  cursor: pointer;
}
.logo__navbar--feature .navbar__search .feature__icon:last-child {
  display: none;
}
.logo__navbar--feature .navbar__search .feature__icon:last-child:hover {
  opacity: 0.7;
}

.navbar__modal {
  opacity: 0;
  transform: translateX(100%);
  transition: 0.4s linear;
  position: fixed;
  right: 0;
  width: 300px;
  background-color: #ffffff;
  padding: 1rem;
}
.navbar__modal .modal__close {
  padding: 0.4rem;
}
.navbar__modal .modal__close i {
  padding: 0.5rem;
  cursor: pointer;
}
.navbar__modal .modal__close i:hover {
  opacity: 0.7;
}
.navbar__modal .modal__navbar .navbar__feature--content li:hover {
  border-bottom: 2px solid #111;
}

/*# sourceMappingURL=header.css.map */
